.notifications {
    border: 1px dashed red;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.notifications ul {
    list-style: none;
    padding: 0;
}

.notifications li[data-priority='default'] {
    color: blue;
}

.notifications li[data-priority='urgent'] {
    color: red;
}

.notifications button {
    cursor: pointer;
}