.App {
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  display: flex;
  border-bottom: 5px #E0354B solid;
}

.App-header h1 {
  color: #E0354B;
  align-self: center;
  font-weight: bold;
}

.App-header img {
  width: 300px;
}

.App-body {
  margin: 50px;
}

.App-body input {
  margin-left: 20px;
  margin-right: 20px;
}

.App-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  border-top: 5px #E0354B solid;
  font-style: italic;
}
